.vs/
iLearning/bin/
iLearning/obj/Debug/DesignTimeResolveAssemblyReferences.cache
iLearning/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
iLearning/obj/Debug/iLearning.Form1.resources
iLearning/obj/Debug/iLearning.Properties.Resources.resources
iLearning/obj/Debug/iLearning.csproj.AssemblyReference.cache
iLearning/obj/Debug/iLearning.csproj.CoreCompileInputs.cache
iLearning/obj/Debug/iLearning.csproj.FileListAbsolute.txt
iLearning/obj/Debug/iLearning.csproj.GenerateResource.cache
iLearning/obj/Debug/iLearning.exe
iLearning/obj/Debug/iLearning.formChoice.resources
iLearning/obj/Debug/iLearning.formLection.resources
iLearning/obj/Debug/iLearning.formSequence.resources
iLearning/obj/Debug/iLearning.formText.resources
iLearning/obj/Debug/iLearning.formVideo.resources
iLearning/obj/Debug/iLearning.menu.resources
iLearning/obj/Debug/iLearning.movingElement.resources
iLearning/obj/Debug/iLearning.pdb